.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.content {
  padding: 20px;
}

.logo {
  flex: 1;
}

.spacer {
  flex: 2;
}

mat-toolbar {
  background-color: #3f51b5;
}

mat-toolbar .logo img {
  height: 40px; /* Adjust logo size */
  width: auto;
}

mat-nav-list a {
  text-decoration: none;
  color: #000;
}

mat-nav-list a:hover {
  background-color: #e0e0e0;
}

.bilnex-logo-svg_1-3126 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  width: 380px;
  height: 160px;
}

.vector_1-3127 {
  top: 0px;
  left: 75px;
  position: absolute;
  display: flex;
}

.vector_1-3128 {
  top: 2px;
  left: 103px;
  position: absolute;
  display: flex;
}

.vector_1-3129 {
  top: 7px;
  left: 0px;
  position: absolute;
  display: flex;
}

.vector_1-3130 {
  top: 26px;
  left: 130px;
  position: absolute;
  display: flex;
}

.vector_1-3131 {
  top: 26px;
  left: 197px;
  position: absolute;
  display: flex;
}

.vector_1-3132 {
  top: 27px;
  left: 77px;
  position: absolute;
  display: flex;
}

.vector_1-3133 {
  top: 27px;
  left: 261px;
  position: absolute;
  display: flex;
}

.vector_1-3134 {
  top: 67px;
  left: 300px;
  position: absolute;
  display: flex;
}

.vector_1-3135 {
  top: 61px;
  left: 349px;
  position: absolute;
  display: flex;
}

.vector_1-3136 {
  top: 133px;
  left: 116px;
  position: absolute;
  display: flex;
}

.vector_1-3137 {
  top: 138px;
  left: 134px;
  position: absolute;
  display: flex;
}

.vector_1-3138 {
  top: 139px;
  left: 150px;
  position: absolute;
  display: flex;
}

.vector_1-3139 {
  top: 138px;
  left: 175px;
  position: absolute;
  display: flex;
}

.vector_1-3140 {
  top: 139px;
  left: 193px;
  position: absolute;
  display: flex;
}

.vector_1-3141 {
  top: 138px;
  left: 202px;
  position: absolute;
  display: flex;
}

.vector_1-3142 {
  top: 133px;
  left: 219px;
  position: absolute;
  display: flex;
}

.vector_1-3143 {
  top: 133px;
  left: 247px;
  position: absolute;
  display: flex;
}

.vector_1-3144 {
  top: 139px;
  left: 262px;
  position: absolute;
  display: flex;
}

.vector_1-3145 {
  top: 133px;
  left: 289px;
  position: absolute;
  display: flex;
}

.vector_1-3146 {
  top: 133px;
  left: 306px;
  position: absolute;
  display: flex;
}

.vector_1-3147 {
  top: 138px;
  left: 314px;
  position: absolute;
  display: flex;
}

.vector_1-3148 {
  top: 133px;
  left: 331px;
  position: absolute;
  display: flex;
}

.vector_1-3149 {
  top: 133px;
  left: 349px;
  position: absolute;
  display: flex;
}

.vector_1-3150 {
  top: 135px;
  left: 354px;
  position: absolute;
  display: flex;
}

.vector_1-3151 {
  top: 138px;
  left: 365px;
  position: absolute;
  display: flex;
}
