<div class="password-container">
  <h2 class="password-title"><span>{{ 'PASSWORD_TITLE' | translate }}</span></h2>

  <div class="user-confirmation">
    <span class="user-confirmation-text"><span>{{ 'PASSWORD_CONFIRMATION' | translate }}</span></span>
    <span class="user-confirmation-email">{{ email }}</span>
  </div>

  <div class="section-title">
    <span>{{ 'PASSWORD_SUBTITLE' | translate }}</span> <span class="divider-line"></span>
  </div>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label><span>{{ 'PASSWORD_INPUT' | translate }}</span></mat-label>
      <input matInput [type]="passwordVisible ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" disableRipple class="no-ripple-btn">
        <img *ngIf="passwordVisible" src="assets/images/eye-closed.png" alt="Show password">
        <img *ngIf="!passwordVisible" src="assets/images/eye-open.png"  alt="Hide password">
      </button>
    </mat-form-field>

    <p class="password-info"><span>{{ 'PASSWORD_RULE' | translate }}</span></p>

    <div class="toggle-container">
      <label class="toggle-switch">
        <input type="checkbox" formControlName="stayLoggedIn" />
        <span class="slider"></span>
      </label>
      <span class="toggle-label"><span>{{ 'PASSWORD_TOGGLE_TEXT' | translate }}</span></span>
    </div>

    <button class="button-primary full-width" type="submit" [disabled]="passwordForm.invalid">
      <span>{{ 'CONFIRM_BTN' | translate }}</span>
    </button>
  </form>
</div>
