<div class="password-container">
  <h2 class="password-title"><span>{{ 'PASSWORD_TITLE' | translate }}</span></h2>

  <div class="user-confirmation">
    <span class="user-confirmation-text"><span>{{ 'PASSWORD_CONFIRMATION' | translate }}</span></span>
    <span class="user-confirmation-email">{{ email }}</span>
  </div>

  <div class="section-title">
    <span>{{ 'PASSWORD_SUBTITLE' | translate }}</span> <span class="divider-line"></span>
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label><span>{{ 'PASSWORD_INPUT' | translate }}</span></mat-label>
      <input [type]="passwordVisible ? 'password' : 'text'" formControlName="password" matInput>
      <button (click)="togglePasswordVisibility()" class="no-ripple-btn" disableRipple mat-icon-button matSuffix>
        <img *ngIf="passwordVisible" alt="Show password" src="assets/images/eye-closed.png">
        <img *ngIf="!passwordVisible" alt="Hide password" src="assets/images/eye-open.png">
      </button>
    </mat-form-field>

    <p class="password-info"><span>{{ 'PASSWORD_RULE' | translate }}</span></p>

    <div class="toggle-container">
      <label class="toggle-switch">
        <input formControlName="stayLoggedIn" type="checkbox"/>
        <span class="slider"></span>
      </label>
      <span class="toggle-label"><span>{{ 'PASSWORD_TOGGLE_TEXT' | translate }}</span></span>
    </div>

    <button [disabled]="passwordForm.invalid" class="button-primary full-width" type="submit">
      <span>{{ 'CONFIRM_BTN' | translate }}</span>
    </button>
  </form>
</div>
