@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;700;900&display=swap');

.password-container {
  max-width: 450px;
  margin: auto;
  text-align: left;
  font-family: 'Geist', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.password-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.user-confirmation {
  max-width: 430px;
  background-color: #EDEFEC;
  padding: 8px 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  overflow: hidden;
  margin-bottom: 50px;
}

.user-confirmation-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 1 auto;
  color: #666;
}

.user-confirmation-email {
  font-weight: bold;
  color: black;
  flex-grow: 1;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.section-title {
  font-size: 17px;
  font-weight: bold;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin-left: 10px;
}

mat-form-field {
  width: 100%;
  margin-top: 20px;
}

.custom-input .mat-mdc-text-field-wrapper {
  background-color: white;
  position: relative;
  z-index: 12;
  border-radius: 12px;
  border: 0;
  color: #666;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 12px;
}

.button-primary {
  background-color: #A8F367;
  font-weight: bold;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}

.button-primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bdbdbd;
  border-radius: 50px;
  transition: 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #264308;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.password-info {
  font-size: 14px;
  text-align: left;
  color: #666;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.4;
}

.toggle-label {
  font-size: 14px;
  text-align: left;
  color: #666;
  margin-left: 15px;
  line-height: 1.4;
}
