<div class="signup-container">
  <h2 class="signup-title"><span>{{ 'SIGNUP_TITLE' | translate }}</span></h2>

  <form (ngSubmit)="onSubmit()" class="signup-form">
    <div class="form-field-container">
      <mat-form-field appearance="outline" class="full-width custom-input" color="primary">
        <mat-label><span>{{ 'SIGNUP_EMAIL' | translate }}</span></mat-label>
        <input (blur)="onBlur()" (focus)="onFocus()" (input)="onFocus()" [(ngModel)]="email" matInput
               name="email" required type="email">
      </mat-form-field>

      <div [class.visible]="showInfoBox" class="info-button-wrapper">
        <div class="email-info"><span>{{ 'SIGNUP_EMAIL_INFO' | translate }}</span></div>
        <button [routerLink]="['/auth/verify-email']" class="button-primary full-width fade-in"
                type="submit">
          <span>{{ 'CONTINUE_BTN' | translate }}</span>
        </button>
      </div>
    </div>
  </form>

  <div class="or-divider">
    <span class="line"></span> <span>{{ 'SIGNUP_OR' | translate }}</span> <span class="line"></span>
  </div>

  <button class="google-button full-width">
    <img alt="Google Icon" src="assets/images/google-icon.png">
    <span>{{ 'SIGNUP_GOOGLE' | translate }}</span>
  </button>

  <a [routerLink]="['/auth/signin']" class="already-account"
     href="https://www.google.com/"><span>{{ 'SIGNUP_ALREADY_ACCOUNT' | translate }}</span></a>
</div>
