<div class="signup-container">
  <h2 class="signup-title"><span>{{ (isEmailAlreadyExists ? 'SIGNIN_TITLE' : 'SIGNUP_TITLE') | translate }}</span></h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm" class="signup-form">
    <div class="form-field-container">
      <mat-form-field appearance="outline" class="full-width custom-input" color="primary">
        <mat-label><span>{{ 'EMAIL_INPUT' | translate }}</span></mat-label>
        <input (blur)="onBlur()" (focus)="onFocus()" (input)="onFocus()" [readonly]="isEmailAlreadyExists"
               formControlName="email" matInput
               type="email">
      </mat-form-field>

      <div [class.visible]="showInfoBox" class="info-button-wrapper">
        <div *ngIf="!isEmailAlreadyExists" class="email-info"><span>{{ 'EMAIL_INPUT_INFO' | translate }}</span></div>

        <div *ngIf="isEmailAlreadyExists" class="alert-box">
          <span class="alert-icon"></span>
          <div class="alert-content">
            <strong><span>{{ 'SIGNUP_USER_EXISTS_BANNER1' | translate }}</span></strong>
            <span>{{ 'SIGNUP_USER_EXISTS_BANNER2' | translate }}</span>
          </div>
        </div>

        <button class="button-primary full-width fade-in" type="submit">
          <span>{{ (isEmailAlreadyExists ? 'CONTINUE_LOGIN_BTN' : 'CONTINUE_BTN') | translate }}</span>
        </button>
      </div>
    </div>
  </form>

  <div class="or-divider">
    <span class="line"></span> <span>{{ 'SIGNUP_OR' | translate }}</span> <span class="line"></span>
  </div>

  <button (click)="loginWithGoogle()" class="google-button full-width">
    <img alt="Google Icon" src="assets/images/google-icon.png">
    <span>{{ 'SIGNUP_GOOGLE' | translate }}</span>
  </button>

  <button *ngIf="!isEmailAlreadyExists" [routerLink]="['/auth/signin']" class="already-account full-width">
    <span>{{ 'SIGNUP_ALREADY_ACCOUNT' | translate }}</span>
  </button>
</div>
